{% load cms_tags sekizai_tags %}
<html>
    <head>
        <title>{% block page_title %}{% page_attribute "page_title" %}{% endblock page_title %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
          {% block content %}
            {% placeholder "content" %}
          {% endblock content %}
        {% render_block "js" %}
    </body>
</html>